@use "/src/index.scss" as *;

.Contact {
    @include flex-center;
    min-height: 100svh;

    padding: 6rem 0;
    gap: 2.5rem;

    .top {
        @include flex-center;

        & h1 {
            font-size: 3rem;
            height: 3rem;
        }
        & section {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.25rem;

            cursor: pointer;
            color: #ccc;
            & h3 {
            }
            & svg {
            }
        }
    }

    // ContactForm.jsx
}
