@use "/src/index.scss" as *;

$top: 3rem;
$name: 10rem;
$bottom: 1.15rem;

.Home {
    @include grid-center;
    background: $main;

    .imJoseph {
        @include flex-center;
        height: 100svh;

        & header {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            font-size: $top * 0.9;
            height: $top;
            width: 100%;

            & h2 {
            }
            & aside {
                display: flex;
                gap: 0.25rem;

                & a {
                    & svg {
                    }
                }
            }
        }
        & h1 {
            font-size: $name;
            height: $name * 0.95;
        }
        & footer {
            display: flex;
            justify-content: end;

            font-size: $bottom;
            width: 100%;

            & p {
            }
        }
        .arrowDown {
            @include absolute-center;
            bottom: 2rem;

            font-size: $bottom * 2;
            filter: drop-shadow(0 0 5px #fff);
        }
    }
}

// Tablet
$top-tab: $top * 0.75;
$name-tab: $name * 0.75;
$bottom-tab: $bottom * 0.75;
@media (max-width: 650px) {
    .Home {
        .imJoseph {
            & header {
                font-size: $top-tab * 0.9;
                height: $top-tab;
            }
            & h1 {
                font-size: $name-tab;
                height: $name-tab * 0.95;
            }
            & footer {
                font-size: $bottom-tab;
            }
            .arrowDown {
                font-size: $bottom-tab * 1.75;
            }
        }
    }
}

// Mobile
$top-mob: $top * 0.55;
$name-mob: $name * 0.45;
@media (max-width: 450px) {
    .Home {
        .imJoseph {
            & header {
                font-size: $top-mob * 0.9;
                height: $top-mob;
            }
            & h1 {
                font-size: $name-mob;
                height: $name-mob * 0.95;
            }
        }
    }
}
