@use "/src/index.scss" as *;

.ContactForm {
    display: grid;
    gap: 0.5rem;

    & header {
        display: flex;
        gap: 0.5rem;
        // .ContactInput
    }
    & footer {
        display: grid;
        gap: 0.5rem;

        .ContactInput {
            & textarea {
                height: 5rem;
            }
        }
        & button {
            padding: 0.5rem;

            cursor: pointer;
            border-radius: 5px;

            background: #fff;
            color: $main;
        }
    }
}
