@use "/src/index.scss" as *;

.NavBar {
    @include absolute-center;
    top: 2rem;

    .links {
        @include flex-center;
        flex-direction: row;

        overflow: hidden;
        border-radius: 999px;
        box-shadow: 0 0 5px #0005;

        & a {
            font-size: 1rem;
            padding: 0.5rem 1.5rem;

            color: $sec;
            background: $main;
        }
        .active {
            overflow: hidden;
            position: relative;
            z-index: 10;

            color: $main;
            background: $sec;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                z-index: 20;

                height: 100%;
                aspect-ratio: 1;

                border-radius: 50%;
                background: $main;
            }
            &::before {
                left: -1rem;
            }
            &::after {
                right: -1rem;
            }
        }
        & a:nth-child(1) {
            padding-left: 1.25rem;
            padding-right: 1.75rem;
            &::before {
                display: none;
            }
        }
        & a:nth-last-child(1) {
            padding-right: 1.25rem;
            padding-left: 1.75rem;
            &::after {
                display: none;
            }
        }
    }
}
.hide {
    display: none;
}

// Mobile
@media (max-width: 320px) {
    .NavBar {
        .links {
            a {
                font-size: 0.9rem;
                padding: 0.25rem 1rem;
            }
            .active {
                &::before {
                    left: -0.7rem;
                }
                &::after {
                    right: -0.7rem;
                }
            }
        }
    }
}
