---
import Layout from "../layouts/Layout.astro";

import Landing from "../components/Landing.astro";
import Work from "../components/Work.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="I'm Joseph">
  <main>
    <Landing />
    <Work/>
    <ContactForm />
  </main>
</Layout>

<style>
  main {
  }

  /* Landing */

  /* Phrase 1 */

  /* Work */

  /* Phrase 2 */

  /* ContactForm */
</style>
