---
import { ClientRouter } from "astro:transitions";

import "../styles/reset.css";
import Person from "../icons/Person.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";

import Html from "../icons/Html.astro";
import Css from "../icons/Css.astro";
import Javascript from "../icons/Javascript.astro";
import React from "../icons/React.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import Figma from "../icons/Figma.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href="/logo/transparent.png" />
    <title>{"JQuirozz"}</title>
    <ClientRouter />
  </head>
  <body>
    <nav>
      <a href="#welcome">
        <h4>Home</h4>
      </a>
      <a href="#whoami">
        <h4>Who am I</h4>
      </a>
      <a href="#work">
        <h4>My work</h4>
      </a>
      <a href="#contact">
        <h4>Contact</h4>
      </a>
      <a href="/blog">
        <h4>Blog</h4>
      </a>
    </nav>
    <main class="slides">
      <section class="slide" id="welcome">
        <header>
          <section class="social">
            <picture>
              <img src="/logo/main.jpg" alt="JQuirozz logo" />
            </picture>
            <div>
              <a href="/">
                <Person />
                <p>Hire me!</p>
              </a>
              <a
                href="https://github.com/jquirozz"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Github />
                <p>Github</p>
              </a>
              <a
                href="https://www.linkedin.com/in/joseph-arauz"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Linkedin />
                <p>Linkedin</p>
              </a>
            </div>
          </section>
        </header>
        <footer>
          <p>Hi, I'm Joseph Quiroz a</p>
          <h2>Web Dev <span>&</span> Designer</h2>
        </footer>
      </section>
      <section class="slide" id="whoami">Whoami</section>
      <section class="slide" id="work">Work</section>
      <section class="slide" id="contact">Contact</section>
    </main>
  </body>
</html>

<style>
  body {
    --border-padding: 5rem;

    nav {
      z-index: 500;

      position: fixed;
      top: 0;
      right: 0;

      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;

      gap: 1rem;

      width: 20rem;
      height: 100%;

      a {
        position: relative;

        padding-right: 5rem;

        transform: translateX(100%);
        animation: slide-in-rtl 250ms ease-in-out forwards;

        h4 {
          font-size: 2rem;
        }

        ::after {
          --line-size: 0.1rem;

          content: "";

          position: absolute;
          top: calc(50% - var(--line-size) / 2);
          right: -0.75rem;

          width: 4rem;
          height: var(--line-size);

          border-radius: 10px;
          background-color: var(--color);
        }
      }
      a:hover {
        color: var(--color);
      }
      a:nth-child(1) {
        animation-delay: 0ms;
      }
      a:nth-child(2) {
        animation-delay: 100ms;
      }
      a:nth-child(3) {
        animation-delay: 200ms;
      }
      a:nth-child(4) {
        animation-delay: 300ms;
      }
      a:nth-child(5) {
        animation-delay: 400ms;
      }
    }

    .slides {
      position: relative;
      padding-right: 20rem;

      .slide {
        width: 100%;
        aspect-ratio: 2/3;
        max-height: 100svh;

        background-color: #fff;
      }
    }

    #welcome {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      gap: var(--border-padding);
      padding-left: var(--border-padding);
      padding-bottom: calc(var(--border-padding) * 0.75);

      overflow: hidden;

      header {
        --spacing: 1rem;

        display: flex;
        justify-content: space-between;

        gap: var(--border-padding);

        .social {
          display: flex;
          align-items: center;

          padding-top: var(--border-padding);

          filter: opacity(0);
          animation: fade-in 300ms ease-in-out forwards;

          picture {
            z-index: 1;

            overflow: hidden;
            outline: var(--spacing) solid #fff;
            border-radius: 50%;

            background-color: #000;

            img {
              width: 14rem;
              aspect-ratio: 1;
            }
          }

          div {
            display: grid;
            gap: var(--spacing);

            a {
              position: relative;

              display: flex;
              flex-direction: row-reverse;
              align-items: center;

              gap: 0.5rem;
              padding: 0.75rem 1.25rem;
              padding-left: calc(var(--spacing) + 1.25rem * 2);

              border-radius: 5px;

              color: #fff;
              background-color: #000;

              transition:
                transform 200ms ease-in-out,
                background-color 100ms ease-in-out;

              svg {
                width: 1.5rem;
              }
              p {
                font-size: 0.75rem;
              }
            }

            a:hover {
              transform: translateX(10px);
              background-color: var(--color);
            }

            a:nth-child(2) {
              left: calc(var(--spacing) * -1);
            }
            a:nth-child(1),
            a:nth-child(3) {
              left: calc(var(--spacing) * -2);
              width: calc(100% + var(--spacing));
            }
          }
        }
      }

      footer {
        transform: translateX(-100%);
        animation: slide-in-ltr 300ms ease-in-out forwards;

        p {
          font-size: 1.75rem;
        }

        h2 {
          font-size: 6rem;

          span {
            font-size: 2rem;
            color: var(--color);
          }
        }
      }
    }
    #whoami {
      background-color: #eee;
    }
    #work {
      background-color: #fff;
    }
    #contact {
      background-color: #eee;
    }
  }

  @keyframes slide-in-ltr {
    from {
      filter: opacity(0);
      transform: translateX(-100%);
    }
    to {
      filter: opacity(1);
      transform: translateX(0);
    }
  }

  @keyframes slide-in-rtl {
    from {
      filter: opacity(0);
      transform: translateX(100%);
    }
    to {
      filter: opacity(1);
      transform: translateX(0);
    }
  }

  @keyframes fade-in {
    from {
      filter: opacity(0);
    }
    to {
      filter: opacity(1);
    }
  }
</style>
