@use "/src/index.scss" as *;

$icon: 10rem;
$error: 2.5rem;

.Error {
    @include flex-center;
    height: 100svh;

    & header {
        font-size: $icon;
        height: $icon;

        & svg {
        }
    }
    & footer {
        @include grid-center;

        & h1 {
            font-size: $error;
        }
        & h2 {
            font-size: $error * 0.5;
            color: #ddd;
        }
    }
}
