---
import Form from "./Form.jsx";
---

<section class="ContactForm">
  <aside>
    <img src="/icons/contact.svg" alt="Contact icon" />
  </aside>

  <Form client:visible />
</section>

<style>
  .ContactForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 3rem 0.75rem;
    padding-bottom: 1rem;

    overflow: hidden;
    min-height: 100vh;

    background-color: #111;
  }
  aside {
    display: grid;
    place-items: center;

    /* GSAP animation */
    opacity: 0;
  }

  aside img {
    width: 75%;
    min-width: 250px;
    max-width: 400px;
    object-fit: contain;

    filter: drop-shadow(0 10px 20px #000);
  }

  @media (max-width: 1000px) {
    .ContactForm {
      grid-template-columns: auto;
      gap: 3rem;
    }
    aside img {
      max-width: 270px;
    }
  }
</style>

<!-- GSAP animatipon -->
<script is:inline>
  let icon = gsap.timeline({
    scrollTrigger: {
      trigger: ".ContactForm > aside",
      start: "top +=80%",
      scrub: false,
      markers: false,
    },
  });
  icon.to(".ContactForm > aside", {
    opacity: 1,
    duration: 0.25,
    ease: "expoScale(0.5,7,none)",
  });
</script>
