<section class="ContactForm">
  <div class=""></div>
  <form>
    <label for="name">My name is</label>
    <input id="name" type="text" placeholder="Pepito Quiroz" />
    <label for="email">Contact me on</label>
    <input id="email" type="email" placeholder="pepito@quiroz.com" />
  </form>
</section>

<style>
  .ContactForm {
    height: 100svh;

    padding: 5rem 0;

    background-color: #000d;
  }
</style>
