---
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
---

<nav>
  <a href="/">
    <h2>JQuirozz'</h2>
  </a>
  <aside>
    <a href="https://github.com/jquirozz">
      <Github />
    </a>
    <a href="https://www.linkedin.com/in/joseph-arauz">
      <Linkedin />
    </a>
  </aside>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.25rem 1.5rem;

    height: 3.75rem;

    color: #fff;
    background-color: #000;

    a {
      svg {
        height: 1.75rem;
        aspect-ratio: 1;
      }
    }
    section {
      display: flex;

      a {
        font-size: 1rem;
        padding: 0.75rem 1rem;
      }
    }
    aside {
      display: flex;
      gap: 0.75rem;
      padding-top: 0.25rem; /* Center svg vertically */

      svg {
      }
    }
  }
</style>
