---
import WorkCard from "./WorkCard.astro";

const WORKS = [
  {
    title: "blinked",
    description:
      "A captivating gallery app that brings together stunning images and user profiles, offering a delightful experience. Explore a world of photos and discover the talented individuals behind them.",
    link: "https://blinked-app.netlify.app/",
    langs: ["react", "sass", "js"],
    finished: false,
  },
  {
    title: "apexify",
    description:
      "Your ultimate Formula 1 companion, offering a calendar and race results spanning from the historic races to today's thrilling races. Stay up to date with all the latest in the world of Formula 1.",
    link: "https://apexif1y.netlify.app/",
    langs: ["react", "sass", "js"],
    finished: true,
  },
];
---

<section id="projects">
  {WORKS.map((work, key) => <WorkCard side={key} info={work} />)}
</section>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 7.5rem;
    padding-bottom: 5rem;

    overflow: hidden;

    background: linear-gradient(to top, #111, var(--color));
  }
</style>
