@use "/src/index.scss" as *;

.Work {
    @include flex-center;
    gap: 2rem;
    padding: 2rem 0.5rem;
    padding-bottom: 0.5rem;

    & header {
        display: none;
    }

    .main,
    .side {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        gap: 0.25rem;

        width: 100%;
        max-width: 600px;
        min-width: 275px;
    }
}
