---
import Layout from "./Layout.astro";
import { formatDate } from "../utils/formatDate";

const { frontmatter } = Astro.props;
const { title, author, date } = frontmatter;

import "../styles/reset.css";
---

<Layout title={title}>
  <header>
    <h1>{title} by {author}</h1>
    <h2>Written on: {formatDate(date)}</h2>
  </header>
  <slot />
</Layout>

<style></style>
