---
import { ClientRouter } from "astro:transitions";

import NavBar from "../components/NavBar.astro";
import "../styles/reset.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href="/logo/transparent.png" />
    <title>{title || "JQuirozz'"}</title>

    <ClientRouter />
  </head>
  <body>
    <NavBar />
    <main>
      <slot />
    </main>
  </body>
</html>
