---
const { title } = Astro.props;
---

<!-- GSAP, ScrollTrigger -->
<script
  is:inline
  is:global
  src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"
></script>
<script
  is:inline
  is:global
  src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"
></script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/logos/white.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color: #50a;
  }
  /* Fonts */
  @font-face {
    font-family: gt;
    src:
      local("gt"),
      url(/fonts/gt.woff) format("woff");
  }
  @font-face {
    font-family: acorn;
    src:
      local("acorn"),
      url(/fonts/acorn.woff) format("woff");
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;

    font-family: gt;
    text-decoration: none;
  }

  body {
    color: #f5f5f5;
    /* Noisy background = bad performance */
    /* background: url(https://grainy-gradients.vercel.app/noise.svg); */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: acorn;
    text-wrap: balance;
  }

  button,
  input,
  textarea {
    border: none;
    outline: none;
  }

  a {
    color: inherit;
  }

  p {
    text-wrap: pretty;
  }
</style>
